<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メモの編集</title>
</head>
<body>
	<form method="post" th:action="@{/kibunmemo/detail}" th:object="${memoDetailForm}">
	<input type="hidden" th:field="*{id}">
		<table>
			<tr>
				<th>気分</th>
				<td>
					<input type="text" th:field="*{feeling}">
				</td>
			</tr>
			<tr>
				<th>内容</th>
				<td>
					<input type="text" th:field="*{text}">
				</td>
			</tr>
			<tr>
				<th>日時</th>
				<td th:text="*{#temporals.format(date,'YYYY/MM/dd')}"></td>
			</tr>
		</table>
		
		<!-- ボタンエリア -->
		<div class="text-center">
			<!-- 削除ボタン -->
			<button class="btn btn-danger" type="submit" name="delete">削除
			</button>
			<!-- 更新ボタン -->
			<button class="btn btn-primary" type="submit" name="update">更新
			</button>
		</div>
	</form>
</body>
</html>