<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>気分メモ一覧</title>
</head>
<body>
  <div>
  	<table>
  		<thead>
  			<tr>
  				<th class="th-width">日付</th>
  				<th class="th-width">気分</th>
  				<th class="th-width">内容</th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr th:each="memo:${memoList}">
  				<td th:text="${#temporals.format(memo.date,'yyyy-MM-dd')}"></td>
  				<td th:text="${memo.feeling}"></td>
  				<td th:text="${memo.text}"></td>
  				<td>
  					<a class="btn btn-primary" th:href="@{'/kibunmemo/detail/' + ${memo.id}}">詳細</a>
  				</td>
  			</tr>
  		</tbody>
    </table>
  </div>
</body>
</html>